<body>
<p>
  Hi! I'm Beth, an Atlanta native looking to make a career change.  I grew up in online journalism, although I have a BA in Business from <a href="http://www.gsu.edu/about/"> GSU</a>; most people think I have a degree in journalism! I worked with several newspaper companies in the online area; <a href="http://www.accessatlanta.com/">AJC's Access Atlanta</a> followed by <a href="http://www.mercurynews.com/">The San Jose Mercury News</a> and then <a href="http://www.twincities.com/"> The Saint Paul Pioneer Press</a> and Knight Ridder with some time at start-up (including an an IPO) <a href="http://technical.ly/philly/2012/06/13/infonautics-the-legendary-90s-era-wayne-infotech-business-was-just-too-early/"> Infonautics</a> in the middle. I have always been a "figure it out" kind of person and enjoy figuring out how to do things. After having a few kids I downshifted my career and have make professional choices that let me be home and spend time with my kids for the past fifteen years.  
</p>
<p>
  I have also done some great volunteering, including <a href="http://tedxpeachtree.com/">TEDxPeachtree</a>, here in Atlanta, for the past few years. I have met a lot of interesting people since I get to work with the speakers and performers. This year, I got to work with local beatbox artist, Heaven Beatbox. 
</p>
<img src="http://www.journeybybeth.com/wp-content/uploads/2014/12/IMG_5272.jpg" alt="with Heaven Beatbox backstage door" height="312">
<p>
  Now I am ready to get started on the next chapter! I am excited to jump in with both feet and learn all about web development.  I've dabbled a little bit in techology in all of my jobs and picked up some technical skills here and there but I'm looking forward to putting it all together.  
</p>
</body>
